*.beam
priv/gpio_lib
priv/bin
doc/*.html
ebin
.eunit
*~
erl_crash.dump
deps
.DS_Store
log
eunit.coverage.xml
_build
eunit.coverage.xml
priv/rgpio_lib
c_src/*.o
rel/marionet-device-001/marionet-device-001
rel/marionet-device-002/marionet-device-002/
