%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{erl_opts, [warnings_as_errors,
            warn_export_all,
            warn_unused_import
            %warn_untyped_record covertool
            ]}.

{xref_checks, [undefined_function_calls]}.
{cover_enabled, false}.
{sub_dirs, ["rel"]}.

{edoc_opts, [{dialyzer_specs, all}, 
             {report_missing_type, true},
             {report_type_mismatch, true}, 
             {pretty_print, erl_pp},
             {preprocess, true}]}.

{validate_app_modules, true}.

%% clang port driver compile options. 
{port_env, [{"LDFLAGS", "$LDFLAGS -pthread"}]}.
{port_specs, [{"priv/rgpio_lib", ["c_src/rgpio_lib.c"] }]}.

{deps, [
        %%% TEST %%%
        {meck, 
         "0.8.*",
         {git, "git://github.com/eproxus/meck.git", 
          {tag, "0.8.1"}}},

        {edown,
         ".*",
         {git, "git://github.com/esl/edown.git", 
          {branch, "master"}}}
       ]}.

