%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{erl_opts, [warnings_as_errors,
            warn_export_all,
            warn_unused_import,
            %warn_untyped_record covertool
            {parse_transform, lager_transform}
            ]}.

{xref_checks, [undefined_function_calls]}.
{cover_enabled, false}.
{sub_dirs, ["rel"]}.

{edoc_opts, [{dialyzer_specs, all}, 
             {report_missing_type, true},
             {report_type_mismatch, true}, 
             {pretty_print, erl_pp},
             {preprocess, true}]}.

{validate_app_modules, true}.

{deps, [
        {lager, "2.*", 
         {git, "https://github.com/basho/lager.git"}},

        {msgpack, ".*",
         {git, "https://github.com/msgpack/msgpack-erlang.git", "master"}},

        {jsx, "1.4.*",
         {git, "git://github.com/talentdeficit/jsx.git", {tag, "v1.4.5"}}},

        {emqttc, "0.*",
         {git, "https://github.com/hiroeorz/emqttc.git", "master"}},

        {gpio, "0.*", 
         {git, "https://github.com/hiroeorz/gpio-erlang.git"}},

        {arduino, "0.*", 
         {git, "https://github.com/hiroeorz/arduino-erlang.git"}},

        {omron_fins, "1.*", 
         {git, "https://github.com/hiroeorz/omron-fins-erlang.git"}},

        {edown, ".*",
         {git, "https://github.com/esl/edown.git", 
          {branch, "master"}}}
       ]}.
