%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

[
 {marionet_device, 
  [
   {device_id, 1},
   {group_id, <<"your_group_id">>},
   
   {mqtt_broker, [{host, "test.mosquitto.org"},
                  {port, 1883},
                  {username, undefined},
                  {password, undefined}
                 ]},

   {io_event_handler,        sample_io_event_handler},
   {subscribe_event_handler, sample_sub_handler},
   
   {subscribes, [{<<"/your_group_id/2/analog/0">>,  0},
                 {<<"/your_group_id/2/digital/0">>, 1}
                ]},
   
   %% driver node node name
   %% c1@ is fixed. change your hostname part of 'raspberrypi'.
   {c_node, c1@raspberrypi},
   
   %% {PinNo, ReadWriteMode, [Options]}
   %% PinNo         :: 2 .. 27
   %% ReadWriteMode :: in      | out
   %% Options
   %%    edge       :: falling | rising | both     | none
   %%    pull       :: up      | down   | none
   %%    active_low :: true    | false  | undefined
   {gpio, [
           { 4, in,  [{edge, both}, {pull, up}, {active_low, true}] },
           {17, in,  [{edge, both}, {pull, up}, {active_low, true}] },
           {18, in,  [{edge, both}, {pull, up}, {active_low, true}] },
           {22, in,  [{edge, both}, {pull, up}, {active_low, true}] },
           {23, in,  [{edge, both}, {pull, up}, {active_low, true}] },
           {24, out, [{edge, both}, {pull, down}] },
           {25, out, [{edge, both}, {pull, down}] }
          ]},
   
   %% arduino extend setting.
   {arduino_enable, true},
   {arduino, [{speed, 57600},
              {device, "/dev/ttyACM0"},
              {sampling_interval, 2900},
              {digital_port_reporting, [1, 0]},
              {digital_port_offset, 1},
              {analog_offset, 0},
              {analog, [0, 1] },
              {digital, [
                         { 0, in, [{pull, up} ]},
                         { 1, in, [{pull, up} ]},
                         { 2, in, [{pull, up} ]},
                         { 3, in, [{pull, up} ]},
                         { 4, in, [{pull, up} ]},
                         { 5, in, [{pull, up} ]},
                         { 6, in, [{pull, up} ]},
                         { 7, in, [{pull, up} ]},
                         
                         { 8, out},
                         { 9, out},
                         {10, pwm},
                         {11, pwm},
                         {12, servo},
                         {13, servo}
                        ]
              }
             ]},

   %% omron PLC extend setting.
   {omron_fins_enable, false},
   {omron_fins, [{ip_address,  {192,168,0,5}},
                 {dst_address, {192,168,0,6}},
                 {port, 9600},
                 {check_interval, 2900},
                 {analog_offset, 1},
                 {digital_port_offset, 3},
                 {analog, [0, 1, 2, 3, 4, 5]},
                 {digital, [11, 12, 13, 14]}
                ]}

  ]},

 {lager, [ {handlers, [ {lager_console_backend, debug} ]} ]}
].

