<h3>MQTT Connection</h3>
<table>
  <tbody>
    <tr>
      <th>Client ID</th>
      <td><input type="text" value="" ng-model="mqtt.client_id"></td>
    </tr>
    <tr>
      <th>Host</th>
      <td><input type="text" value="" ng-model="mqtt.host"></td>
    </tr>
    <tr>
      <th>Port</th>
      <td><input type="text" value="" ng-model="mqtt.port"></td>
    </tr>
    <tr>
      <th>Username</th>
      <td><input type="text" value="" ng-model="mqtt.username"></td>
    </tr>
    <tr>
      <th>Password</th>
      <td><input type="text" value="" ng-model="mqtt.password"></td>
    </tr>
    
  </tbody>
</table>

<hr>
<button class="btn" type="button"
	ng-click="save()"
	ng-class="{'btn-danger':changed, 'btn-success':!changed}">save</button>
