<h3>Subscribes</h3>
<table class="table">
  <tbody>
    <tr ng-repeat="sub in subscribes.subscribes">
      <th>Topic</th>
      <td><input type="text" ng-model="sub.topic"
		 required
		 ng-trim="true"></td>

      <th>QoS</th>
      <td><select ng-model="sub.qos" 
		  ng-options="qos for qos in qosList"
                  style="width:50px;">
      </td>
    </tr>
    
  </tbody>
</table>

<button class="btn btn-primary" type="button"
	ng-click="addSubscriber()">add</button>

<button class="btn btn-danger" type="button" ng-click="save()">
  save
</button>

<hr>
