%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

[
 {marionet_device, 
  [
   {device_id, <<"plc">>},
   {group_id, <<"demo">>},

   {mqtt_enable, true},
   {mqtt_broker, [{host, "test.mosquitto.org"},
                  {port, 1883},
                  {client_id, <<"demo/plc">>}, %% len < 24
                  {username, undefined},
                  {password, undefined}
                 ]},

   {io_event_handler,        sample_io_event_handler},
   {analog_publish_interval, 3000},
   
   {subscribes, [{<<"/demo/pi001/analog/#">>,  0},
                 {<<"/demo/pi002/analog/#">>,  0},
                 {<<"/demo/pi001/digital/#">>, 1},
                 {<<"/demo/pi002/digital/#">>, 1}
                ]},

   %% {PinNo, ReadWriteMode, [Options]}
   %% PinNo         :: 2 .. 27
   %% ReadWriteMode :: in      | out
   %% Options
   %%    edge                :: falling | rising | both     | none
   %%    active_low          :: true    | false  | undefined
   {gpio, []},

   {analog_list, []},
   {analog_interval, 3000},
   
   %% arduino extend setting.
   {arduino_enable, false},
   {arduino, [{speed, 57600},
              {device, "/dev/ttyACM0"},
              {sampling_interval, 500},
              {digital_port_reporting, [1, 0]},
              {digital_port_offset, 1},
              {analog_offset, 0},
              {analog, [0, 1] },
              {digital, [
                         { 0, in, [{pull, up} ]},
                         { 1, in, [{pull, up} ]},
                         { 2, in, [{pull, up} ]},
                         { 3, in, [{pull, up} ]},
                         { 4, in, [{pull, up} ]},
                         { 5, in, [{pull, up} ]},
                         { 6, in, [{pull, up} ]},
                         { 7, in, [{pull, up} ]},

                         { 8, servo},
                         { 9, servo},
                         {10, pwm},
                         {11, pwm},
                         {12, out},
                         {13, out}
                        ]
              }
             ]},

   %% omron PLC extend setting.
   {omron_fins_enable, true},
   {omron_fins, [{ip_address,  <<"192.168.10.5">>},
                 {dst_address, <<"192.168.10.6">>},
                 {port, 9600},
                 {check_interval, 900},
                 {analog_offset, 1},
                 {digital_port_offset, 3},
                 {analog, [0, 1, 2, 3, 4, 5]},
                 {digital, [11, 12, 13, 14]}
                ]}
  ]},

 {lager, [ {handlers, [ {lager_console_backend, debug} ]} ]}
].

