%% -*- mode: erlang -*-
%% ex: ft=erlang
{sys, [
       {lib_dirs, ["../../deps"]},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "marionet-device-001", "1",
        [
         kernel,
         stdlib,
         sasl,
	 asn1,
	 crypto,
	 compiler,
	 lager,
	 serial,
	 emqttc,
	 omron_fins,
         marionet_device
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "marionet-device-001"},
       {profile, embedded},
       {incl_cond, exclude},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/(?!start_clean.boot)",
                           "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},

       {app, kernel, [{incl_cond, include}]},
       {app, stdlib, [{incl_cond, include}]},
       {app, sasl, [{incl_cond, include}]},
       {app, compiler, [{incl_cond, include}]},
       {app, syntax_tools, [{incl_cond, include}]},
       {app, asn1, [{incl_cond, include}]},
       {app, crypto, [{incl_cond, include}]},
       {app, lager, [{incl_cond, include}]},
       {app, goldrush, [{incl_cond, include}]},
       {app, serial, [{incl_cond, include}]},
       {app, msgpack, [{incl_cond, include}]},
       {app, emqttc, [{incl_cond, include}]},
       {app, omron_fins, [{incl_cond, include}]},
       {app, gpio, [{incl_cond, include}]},
       {app, arduino, [{incl_cond, include}]},
       {app, marionet_device, [{incl_cond, include},{lib_dir, "../.."}]}
      ]}.

{target_dir, "marionet-device-001"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "marionet-device-001/bin/start_clean.boot",
                  "\{\{erts_vsn\}\}/bin/start_clean.boot"},
           {copy, "files/marionet-device-001", "bin/marionet-device-001"},
           {copy, "files/marionet-device-001.cmd", "bin/marionet-device-001.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
           {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
           {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"}
          ]}.
